@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  :root {
    --background: 221 57% 9%;
    --foreground: 0 0% 98%;
    --card: 221 57% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 221 57% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 175 100% 38%;
    --primary-foreground: 221 57% 9%;
    --secondary: 221 57% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 221 57% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 221 57% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 221 57% 15%;
    --input: 221 57% 15%;
    --ring: 175 100% 48%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 221 57% 12%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 175 100% 38%;
    --sidebar-primary-foreground: 221 57% 9%;
    --sidebar-accent: 221 57% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 221 57% 15%;
    --sidebar-ring: 175 100% 48%;
  }

  .dark {
    --background: 221 57% 9%;
    --foreground: 0 0% 98%;
    --card: 221 57% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 221 57% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 175 100% 38%;
    --primary-foreground: 221 57% 9%;
    --secondary: 221 57% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 221 57% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 221 57% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 221 57% 15%;
    --input: 221 57% 15%;
    --ring: 175 100% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
